
/* nav style start from here  */
nav{
    display: flex;
    align-items: center;
    background-color:#1C2B35;
}
.nav-item{
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
    letter-spacing: 0.005em;
    text-decoration: none;
    margin-right: 22px;
    transition: .2s ease-in;
}
.nav-item:hover{
    color:#FF9900;
}
.nav-item:nth-child(4){
    margin-right: 0;
}
